{% load static %}
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-0 border-top w-100" style="background-color: #f5f5dc;">
    <p class="col-md-4 mb-0 text-body-secondary">© 2024 Create by Matias Valdivia, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end" class="iconos-footer">
        <p class="col-md-4 mb-0 text-body-secondary"></p>
        <li class="nav-item">
            <a href="https://x.com/?lang=es" class="nav-link px-2 text-body-secondary"><i class="fa-brands fa-square-x-twitter icono-grande"></i></a>
        </li>
        <li class="nav-item">
            <a href="https://www.facebook.com" class="nav-link px-2 text-body-secondary"><i class="fa-brands fa-square-facebook icono-grande"></i></a>
        </li>
        <li class="nav-item">
            <a href="https://www.instagram.com" class="nav-link px-2 text-body-secondary"><i class="fa-brands fa-square-instagram icono-grande"></i></a>
        </li>
    </ul>
</footer>
