
{% extends "base.html" %}

{% block content %}
<div class="container-fluid divab" style="height: 600px;">
<div class="card text-bg-dark">
    <img src="https://media.scoolinary.app/blog/images/2021/08/Joanna-Artieda-_IVI5264.jpg" class="card-img opacity-25" alt="fot" style="height: 500px;">
    <div class="card-img-overlay">
        <h5 class="card-title">Quienes somos</h5>
        <p class="card-text">
            Somos OnlyFlans, donde el arte del flan cobra vida. 
            Deléitate con nuestra selección de flanes artesanales, desde los clásicos hasta los más innovadores. 
            Con ingredientes frescos y recetas tradicionales, cada bocado es una experiencia celestial. 
            Descubre por qué en Dulces Sueños, cada flan es un sueño hecho realidad. 
            ¡Haz tu pedido hoy y déjate llevar por el dulce placer del flan!
        </p>
    </div>
</div>
</div>
{% endblock %}
