{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container divcard">
        <div class="row">
        {% for i in flan  %}
        <div class="card mb-3" style="width: 18rem;">
            <img src="{{ i.image_url }}" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ i.name}}</h5>
                <p class="card-text"> {{ i.description }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{%endblock%}


